<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/inicio/inicio">
      <ion-icon aria-hidden="true" name="cart-Outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="coche" href="/coche/coche">
      <ion-icon aria-hidden="true" name="car-sport-outline"></ion-icon>
      <ion-label>Coches</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="busqueda" href="/busqueda/busqueda">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Busqueda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
